extends layout

block content
  div.row
    div.small-8.columns.small-centered
      h2#title Tommy's Tires Admin
  div.row
    div.small-8.columns.small-centered
      div.row.small-centered
        div.small-8.columns.small-centered
          h5 #{message}
      form(action="/admin", method="post")
        div.row.small-centered
          div.small-8.columns.small-centered
            input(type="text", name="googleLoginUrl", placeholder="Google Social Auth Login Url" value="#{googleLoginUrl}")
        div.row.small-centered
          div.small-8.columns.small-centered
            input(type="text", name="facebookLoginUrl", placeholder="Facebook Social Auth Login Url" value="#{facebookLoginUrl}")
        div.row.small-centered
          div.small-8.columns.small-centered
            input(type="text", name="redirectURI", placeholder="Redirect URI" value="#{redirectURI}")
        div.row.small-centered
          div.small-8.columns.small-centered
            label(for="popup") Popup
            if popup == 'on'
              input(type="checkbox", name="popup", placeholder="Pop-up" checked)
            else
              input(type="checkbox", name="popup", placeholder="Pop-up")
        div.row.small-centered
          div.small-8.columns.small-centered
            input(type="text", name="apiToken", placeholder="API Token" value="#{apiToken}")
        div.row.small-centered
          div.small-2.columns.small-centered
            input.button.success.tiny(type="submit", value="Submit")
            a.button.tiny(href='/') Home